---
site_name: "Docker Foundations Hands-On Walktrough"
nav:
  - Home: index.md
  - Setup:
    - Visual Studio Code: sections/section_1.md
    - Start a New Project: sections/section_2.md
  - Define Your Project Development Environment:
    - Create a Dockerfile: sections/section_3.md
    - Create Devcontainer Configuration: sections/section_4.md
    - Reopen Your Project: sections/section_7.md
  - Going Further:
    - Why?: sections/section_8.md


# Repository
repo_name: "wwt/docker-foundations"
repo_url: "https://github.com/wwt/docker-foundations"
edit_uri: ""



# Configuration
theme:
  name: material
  language: en
  features:
    - navigation.sections
    - navigation.tabs
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  logo: img/logo.svg
  shortcuts:
    help: 191    # ?
    next: 78     # n
    previous: 80 # p
    search: 83   # s

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - attr_list
  - pymdownx.tasklist
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.keys
